.header {
  margin-top: 32px;
  &__block {
    display: flex;
    justify-content: space-between;
    &-profile {
      display: flex;
      align-items: center;
      width: 182px;
      height: 40px;
      img {
        width: 55px;
        margin-top: 6px;
        margin-right: 14px;
      }
    &-user {
        font-size: 14px;
      &-name {
        color: var(--text-color);
        font-weight: 500;
        line-height: var(--line-height-p-14);
        
      }
      &-subname {
        color: var(--text-color-secondary)
      }
    }
    }
      &-btn {
        border: none;
        background: none;
        cursor: pointer;
      }
  }
}

