:root {
  --text-color-primary: #1B1B1B;
  --text-color-secondary: #7D7D7D;
  --text-color-active: #3E29E3;
  --tab-color-boder: #CBCBCC;
  --input-color-default: #AEADAE;
  --input-color-hovered: #3E29E3;
  --input-color-error: #E80F3B;
  --poppup-color-text-active: #3D28E1;
  --gradient-angle: 45deg;

  }


*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: Graphik;
}
a {
  text-decoration: none;
  color: inherit;
}
ul, li {
  list-style: none;
}
img, table {
  width: 100%;
}
input:focus-visible {
  outline: none;
}

h1 {
  font-size: var(--font-size-h1);
  line-height: var(--line-height-h1);
  font-weight: var(--font-weight-bold);
}

h2 {
  font-size: var(--font-size-h2);
  line-height: var(--line-height-h2);
  font-weight: var(--font-weight-bold);
}

h3 {
  font-size: var(--font-size-h3);
  line-height: var(--line-height-h3);
  font-weight: var(--font-weight-medium);
}

h4 {
  font-size: var(--font-size-h4);
  line-height: var(--line-height-h4);
  font-weight: var(--font-weight-medium);
}

// Стили для параграфов
p {
  &.lead {
    font-size: var(--font-size-p-lead);
    line-height: var(--line-height-p-lead);
    font-weight: var(--font-weight-regular);
  }

  &.p-18 {
    font-size: var(--font-size-p-18);
    line-height: var(--line-height-p-18);
    font-weight: var(--font-weight-regular);
  }

  &.p-16 {
    font-size: var(--font-size-p-16);
    line-height: var(--line-height-p-16);
    font-weight: var(--font-weight-regular);
  }

  &.p-14 {
    font-size: var(--font-size-p-14);
    line-height: var(--line-height-p-14);
    font-weight: var(--font-weight-regular);
  }
}

.header, .footer {
  grid-column: 1/-1;
  margin-bottom: 48px;
}


