$desktop-breakpoint: 1200px;
$tablet-breakpoint: 736px;
$mobile-breakpoint: 320px;

.grid {
  display: grid;
  grid-template-columns: repeat(12, minmax(60px, 80px));
  column-gap: 32px;
  margin-left: 64px;
  margin-right: 64px;
  &__col {
    grid-column: span 12;
  }

  @media (min-width: $desktop-breakpoint) {
    grid-template-columns: repeat(12, minmax(60px, 80px));
  }

  @media (min-width: $tablet-breakpoint) and (max-width: $desktop-breakpoint) {
    grid-template-columns: repeat(8, minmax(56px, 88px));
    column-gap: 32px;
  }

  @media (max-width: $tablet-breakpoint) {
    grid-template-columns: repeat(4, minmax(56px, 88px));
    column-gap: 24px;
  }
}
.main__block {
  @media (min-width: $desktop-breakpoint) {
    max-width: 1312px;
    min-width: 1072px;
  }

  @media (min-width: $tablet-breakpoint) and (max-width: $desktop-breakpoint) {
    max-width: 928px;
    min-width: 672px;
  }

  @media (max-width: $tablet-breakpoint) and (min-width: $mobile-breakpoint){
    max-width: 424px;
    min-width: 296px;
  }
}

@media (max-width: $tablet-breakpoint) and (min-width: $mobile-breakpoint) {
  :root {
  --font-size-h1: 32px;
  --font-size-h2: 28px;
  --font-size-h3: 20px;
  --font-size-h4: 18px;

  --line-height-h1: 40px;
  --line-height-h2: 36px;
  --line-height-h3: 28px;
  --line-height-h4: 28px;

  --font-weight-h1: bold;
  --font-weight-h2: bold;
  --font-weight-h3: 500;
  --font-weight-h4: 500;

  // Параграфы
  --font-size-p-lead: 20px;
  --font-size-p-18: 18px;
  --font-size-p-16: 16px;
  --font-size-p-14: 14px;

  --line-height-p-lead: 28px;
  --line-height-p-18: 28px;
  --line-height-p-16: 24px;
  --line-height-p-14: 20px;

  --font-weight-p-lead: normal;
  --font-weight-p-18: normal;
  --font-weight-p-16: normal;
  --font-weight-p-14: normal;
  }
}

@media (min-width: $tablet-breakpoint) {
  :root {
  --font-size-h1: 48px;
  --font-size-h2: 32px;
  --font-size-h3: 24px;
  --font-size-h4: 18px;
  --font-size-p-lead: 24px;
  --font-size-p-18: 18px;
  --font-size-p-16: 16px;
  --font-size-p-14: 14px;

  --line-height-h1: 56px;
  --line-height-h2: 40px;
  --line-height-h3: 32px;
  --line-height-h4: 28px;
  --line-height-p-lead: 32px;
  --line-height-p-18: 28px;
  --line-height-p-16: 24px;
  --line-height-p-14: 20px;
  
  --font-weight-bold: bold;
  --font-weight-medium: 500;
  --font-weight-regular: 400;

  }
}



@media (min-width: $mobile-breakpoint) and (max-width: $tablet-breakpoint) {
  .main {
    grid-column: 2/-1;
    margin-bottom: 160px;
  }
  .nav__list-item {
    width: 88px;
    word-wrap: break-word;
  }
  .main__block__subtitle {
    width: 100%;
  }
  .main table tbody tr th p {
    margin-right: 0;
  }
  .main table tbody tr td p {
    margin-right: 0;
  }
}

@media (min-width: $desktop-breakpoint) {
  .main__block__subtitle {
    width: 592px;
  }
  .main {
    grid-column: 3/-1;
    margin-bottom: 160px;
  }
  .main table tbody tr th p {
    margin-right: 32px;
  }
  .main table tbody tr td p {
    margin-right: 0;
  }
}

@media (min-width: 320px) {
.tabs__content-item {
  .mobile  {
  --font-size-h1: 32px;
  --font-size-h2: 28px;
  --font-size-h3: 20px;
  --font-size-h4: 18px;

  --line-height-h1: 40px;
  --line-height-h2: 36px;
  --line-height-h3: 28px;
  --line-height-h4: 28px;

  --font-weight-h1: bold;
  --font-weight-h2: bold;
  --font-weight-h3: 500;
  --font-weight-h4: 500;

  --font-size-p-lead: 20px;
  --font-size-p-18: 18px;
  --font-size-p-16: 16px;
  --font-size-p-14: 14px;

  --line-height-p-lead: 28px;
  --line-height-p-18: 28px;
  --line-height-p-16: 24px;
  --line-height-p-14: 20px;

  --font-weight-p-lead: normal;
  --font-weight-p-18: normal;
  --font-weight-p-16: normal;
  --font-weight-p-14: normal;
    }
  }
}
